h1{
        color:white;
        text-align: center;
    }
    .mid
        {
        width: 20px;
        padding-left: 37px;
        padding-right: 37px;
        text-align: center;
        color:white;
        font-weight: bold;
        padding-bottom: 8px 8px 8px 8px;
        background-color: red;
        background: rgba(255, 0, 0, 0.8);
        }
    .mi
        {
        text-align: center;
        color:white;
        font-weight: bold;
        padding: 8px 8px 8px 8px;
        background-color: red;
        background: rgba(255, 0, 0, 0.8);
        }
.header {
  width: 55.4%;
  height: 75px;
  color: white;
    margin: 50px auto 0px;
    padding: 10px;
    background-color: red;
  background: rgba(255, 0, 0, 0.8);
  text-align: center;
  border: 1px solid red;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
   margin-top: 40px;
    padding-top: 0px;
    padding-bottom: 15px;
}
table{
    margin-top: 0px;
}
